--index-url "https://download.pytorch.org/whl/cu124"
--extra-index-url "https://pypi.org/simple"

-e .
accelerate~=1.11.0
transformers~=4.57.1
pandas~=2.3.3
mecab-python3~=1.0.10
pykakasi~=2.3.0
spacy~=3.8.8
ginza~=5.2.0
fugashi[unidic-lite]~=1.5.2
sentence_transformers~=5.1.2
